*{
    box-sizing: border-box;
}

.categories-sec {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 300px;	
}

*{
	text-decoration: none;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #000;
}